<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Communicable Diseases</title>
    <body>
        <h1>Measles</h1>
        <p> Measles is spread when an infected person talks, breathes, coughs or sneezes tiny particles containing infectious agents into the air. These are called small particle aerosols. Due to their tiny size, small particle aerosols can travel long distances on air currents and remain suspended in the air for minutes to hours. These small particle aerosols may be breathed in by another person. Measles is also spread by contact with hands, tissues and other articles soiled by nose and throat discharges. The virus is very infectious and droplets in the air may infect people entering a room up to 30 minutes after an infected person has left it.</p>
        <br>
         <h2> Symptoms:</h2>
         <p>•	fever<br>
            •	tiredness<br>
            •	cough<br>
            •	sore throat<br>
            •	runny nose <br>
            •	sore eyes<br>
            •	photophobia (discomfort when looking at light)<br>
            </p>
            <h3>Preventive measures: </h3>
            <p>Exclude the person with measles from childcare, preschool, school and work for at least 4 days after the onset of the rash.
                Measles is best prevented by the measles, mumps and rubella (MMR) combination vaccine or the measles, mumps, rubella and varicella (MMRV) combination vaccine. 
                Almost all people who have 2 doses of a measles-containing vaccine will be protected against measles.
                If an unimmunized child aged 6 months of age or older or adult has contact with measles, the infection may be prevented by immediate vaccination (within 72 hours of first contact with an infectious person) with a measles-containing vaccine (unless contraindicated). If it is more than 3 days (73 hours) and within 6 days (144 hours) since the first exposure, immunoglobulin (a solution containing human antibodies that is made from human blood products) may prevent infection.
                If the infant is less than 6 months old and is in contact with measles, the risk of developing measles can be reduced by giving immunoglobulin within 6 days (144 hours) of first contact.. The MMR vaccine should then be given as close as possible to 12 months of age, but at least 5 to 6 months after giving immunoglobulin. The measles-mumps-rubella-varicella (MMRV) vaccine due at 18 months of age should still be given at that time.
                </p>
                <br>
        <h4>Influenza (Flu):</h4>
        <p>Influenza  also known as the flu is a contagious viral infection that attacks your respiratory system.
            Influenza viruses that infect humans can be classified into three main groups: A, B, and C. Type A influenza infection can be serious and cause widespread outbreaks and disease.
            Common symptoms of type A infection can be confused with other conditions. While in some milder cases the flu can resolve on its own without significant symptoms, severe cases of type A influenza can be life-threatening.
            
            </p>   
        <h1>Symptoms:</h1>    
        <p>•	coughing
            •	runny or stuffy nose
            •	sneezing
            •	sore throat
            •	fever
            •	headache
            •	fatigue
            •	chills
            •	body aches
            
            </p>    
         <h2>Preventive measures:</h2>  
         <p>Antiviral medicines can be used to treat or prevent influenza. When used as a treatment, the medicine does not eliminate flu symptoms, although it can reduce the severity and duration of symptoms by about one day. Not every person with influenza needs an antiviral medicine, but some people do; the decision is based upon several factors. If you are severely ill and/or have risk factors for developing complications of influenza, you will need an antiviral agent. People who are only mildly ill and have no risk factors for complications are usually treated with an antiviral medicine if they have had symptoms for 48 hours or less, but they are not treated if they have had symptoms for more than 48 hours. 
            preventive measures:
            •	washing your hands regularly
            •	avoiding large crowds, specifically during a flu outbreak
            •	covering your mouth and nose when you cough or sneeze
            •	staying home if you develop a fever and for at least 24 hours after it goes away
            </p> 
    
    
    
    
    
    
    
    
    
    
    
    </body>
    </head>
    </html>