<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Non-Communicable Diseases</title>
    <body>
        <h1>Cancer</h1>
        <p>Cancer refers to any one of a large number of diseases characterized by the development of abnormal cells that divide uncontrollably and have the ability to infiltrate and destroy normal body tissue. Cancer often has the ability to spread throughout your body.
            Cancer is the second-leading cause of death in the world. But survival rates are improving for many types of cancer, thanks to improvements in cancer screening and cancer treatment.
            </p>
            <h2>Symptoms:</h2>
            <p>Signs and symptoms caused by cancer will vary depending on what part of the body is affected.
                Some general signs and symptoms associated with, but not specific to, cancer, include:
                •	Fatigue
                •	Lump or area of thickening that can be felt under the skin
                •	Weight changes, including unintended loss or gain
                •	Skin changes, such as yellowing, darkening or redness of the skin, sores that won't heal, or changes to existing moles
                •	Changes in bowel or bladder habits
                •	Persistent cough or trouble breathing
                •	Difficulty swallowing
                •	Hoarseness
                •	Persistent indigestion or discomfort after eating
                •	Persistent, unexplained muscle or joint pain
                •	Persistent, unexplained fevers or night sweats
                •	Unexplained bleeding or bruising
                
                </p>
                <h3>Preventive Measures:</h3>
                <p> There's no certain way to prevent cancer. But doctors have identified several ways of reducing your cancer risk, such as:
                    •	Stop smoking. If you smoke, quit. If you don't smoke, don't start. Smoking is linked to several types of cancer — not just lung cancer. Stopping now will reduce your risk of cancer in the future.
                    •	Avoid excessive sun exposure. Harmful ultraviolet (UV) rays from the sun can increase your risk of skin cancer. Limit your sun exposure by staying in the shade, wearing protective clothing or applying sunscreen.
                    •	Eat a healthy diet. Choose a diet rich in fruits and vegetables. Select whole grains and lean proteins.
                    •	Exercise most days of the week. Regular exercise is linked to a lower risk of cancer. Aim for at least 30 minutes of exercise most days of the week. If you haven't been exercising regularly, start out slowly and work your way up to 30 minutes or longer.
                    •	Maintain a healthy weight. Being overweight or obese may increase your risk of cancer. Work to achieve and maintain a healthy weight through a combination of a healthy diet and regular exercise.
                    •	Drink alcohol in moderation, if you choose to drink. If you choose to drink alcohol, limit yourself to one drink a day if you're a woman of any age or a man older than age 65, or two drinks a day if you're a man 65 years old or younger.
                    •	Schedule cancer screening exams. Talk to your doctor about what types of cancer screening exams are best for you based on your risk factors.
                    •	Ask your doctor about immunizations. Certain viruses increase your risk of cancer. Immunizations may help prevent those viruses, including hepatitis B, which increases the risk of liver cancer, and human papillomavirus (HPV), which increases the risk of cervical cancer and other cancers. Ask your doctor whether immunization against these viruses is appropriate for you.
                    
                    </p>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        </body>
        </head>
        </html>